.section__contents {
  display: flex;
  margin: $gutter/2 (-$gutter/2); // counter-acts the margin in section__content
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include respond-to(md, max) {
    flex-direction: column;
  }
}

.section__content {
  padding: $gutter;
  flex: 1 1 0; // WARNING: A flex-basis of 0 means everything should stay the same width.
  margin: $gutter/2; // left/right is counter-acted by the negative margin in section__contents

  > .btn {
    margin-top: $gutter;
  }

  &--card {
    background-color: $background_offset_white;

    @at-root .section--alternate & {
      background-color: #fff;
    }
  }

  &--hero {
    &.section__content--card {
      max-width: fit-content;
      background-color: rgba(#fff, .65);
    }
  }

  &--text-align {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  &--flex-align {
    &-top {
      align-self: flex-start;
    }

    &-center {
      align-self: center;
    }

    &-bottom {
      align-self: flex-end;
    }
  }

  &-icon {
    margin-bottom: $gutter;
  }

  &-header {
    @include fontSize(22px);
    font-weight: 400;
    line-height: 28px;
    margin-bottom: $gutter;
  }

  &-text {
    margin: 0;
    font-weight: 300;
    line-height: 1.45;
  }

  /**
   * Flex fitting setting per-column
   */
  &--fit {
    &-match {
      flex-basis: 0;
    }

    &-auto {
      flex-basis: auto;
    }

    &-100 {
      flex-basis: 100%; // Fit into halves, but account for padding
    }

    &-50 {
      flex-basis: 45%; // Fit into halves, but account for padding
    }

    &-33 {
      flex-basis: 30%; // Fit into thirds, but account for padding
    }

    &-25 {
      flex-basis: 22.5%; // Fit into quarters, but account for padding
    }

    &-20 {
      flex-basis: 17.5%; // Fit into fifths, but account for padding
    }
  }
}
