.section__contents {
  display: flex;
  margin: $gutter (-$gutter); // counter-acts the margin in section__content
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include respond-to(md, max) {
    flex-direction: column;
  }
}

.section__content {
  padding: $gutter;
  flex: 1 1 0; // WARNING: A flex-basis of 0 means everything should stay the same width.
  margin: 0 $gutter; // counter-acted by the negative margin in section__contents

  &--card {
    background-color: $background_offset_white;

    @at-root .section--alternate & {
      background-color: #fff;
    }
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}


.section--alternate {

}
