<div class="o-video_wrapper">
  <div class="video_overlay explainer">
    <a class="btn-play_wrapper" id="js-play-button" tabindex="0" aria-label="Play Sharesight Video">
      <%= image_tag '/img/icons/button_play_video--black.svg', alt: 'Play Sharesight Video', class: 'btn-play' %>
    </a>
  </div>

  <div data-vimeo-id="57338416" data-vimeo-width="500" data-vimeo-height="281"></div>
</div>
