<div class="o-video_wrapper">
  <div class="video_overlay explainer">
    <a class="btn-play_wrapper" id="js-play-button" tabindex="0" aria-label="Play Sharesight Video">
      <%= image_tag '/img/icons/button_play_video--black.svg', alt: 'Play Sharesight Video', class: 'btn-play' %>
    </a>
  </div>
  <iframe
    class="embedly-embed"
    frameborder="0"
    scrolling="no"
    allowfullscreen
    loading="lazy"
    src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F57338416&url=https%3A%2F%2Fvimeo.com%2F57338416&type=text%2Fhtml&schema=vimeo"
    width="1920"
    height="800"></iframe>
</div>
