<div class="o-video_wrapper">
  <div class="video_overlay tony">
    <a class="btn-play_wrapper" id="js-play-button" tabindex="0" aria-label="Play Sharesight Video">
      <%= image_tag '/img/icons/button_play_video.svg', alt: 'Play Sharesight Video', class: 'btn-play' %>
    </a>
  </div>
  <iframe
    src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FQZl0rfarp6Q%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DQZl0rfarp6Q&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FQZl0rfarp6Q%2Fhqdefault.jpg&key=internal&type=text%2Fhtml&schema=youtube"
    class="embedly-embed"
    loading="lazy"
    width="1920"
    height="800"
    scrolling="no"
    title="Play Sharesight Video"
    frameborder="0"
    allow="autoplay; fullscreen"
    allowfullscreen="true"></iframe>
</div>
