<p>
  No. Your broker’s revenue stream is dependant on trades. Every time you buy and sell, your broker takes a cut of the transaction. As such, your broker has an incentive to see you trade more regularly. We don’t. Sharesight is either free or has a low fixed monthly cost (See our <a href="<%= localize_url('pricing', locale_id: locale_obj[:id]) %>" title="<%= locale_page(page: 'pricing', locale_obj: locale_obj)[:page_title] %>">pricing plans</a> for more information).
</p>
<p>
  Our mission is to offer you the best visibility we can into your portfolio’s true performance. We have no hidden agenda, or incentives that might cause us to stray from this single goal.
</p>
<p>
  As such we believe our performance calculations, automatic dividend importing and other complex corporate action processing, graphing features, performance and tax reports are second to none. We’re confident you won’t find another tool that gives you such a comprehensive understanding of your assets.
</p>
<p>
  <strong>Ultimately, the best way to understand what Sharesight is all about is to <a href="<%= config[:signup_url] %>" title="Sign up for Sharesight">signup</a> and try it for yourself. We're confident that you'll agree that it's the best portfolio tracking system available today.</strong>
</p>
