

<p>Sharesight automatically calculates the performance of your overall portfolio and individual <%= locale_obj[:cert_type] %>s over any time period. Capital gains, dividends, and currency movements are all shown in dollars and annualised percentages.</p>
<p>We then provide you with a number of different tools that allow you to view your portfolio’s true performance, but in different ways. For example, you can use one of our graphing features such as our growth graph, value graph or our sophisticated performance index chart.</p>
<p>In addition, you can benchmark your performance against an extensive number of common funds or markets.</p>
<p>We also provide different options for grouping your holdings, including grouping them by market, country, industry classification, investment type, or you could use our custom groupings feature and group your holdings based on an asset allocation model of your choosing.</p>
<p>Sharesight also provides a comprehensive suite of reports.  All users, including those on our free plan, have access to our Performance Report, Dividend Tax Report, Sold Securities Report and Historical Cost Report. Additional reports are available to users on our paid plans that will offer you further insight into your <%=locale_obj[:cert_type]%> portfolio’s true performance.</p>
