<p>
  You may track up to ten holdings for free.
  Once you have more than ten investments, or would like access to our advanced
  features and full reporting suite, you may choose to upgrade to a paid plan
  (which you can trial free for a month).
  See our <a href="<%= localize_url('pricing', locale_id: locale_obj[:id]) %>" title="<%= locale_page(page: 'pricing', locale_obj: locale_obj)[:page_title] %>">pricing plans</a> for more information.
</p>
