<p>
  Simply add your buy and sell transactions — Sharesight automatically records any corporate actions, including dividends, share splits, and capital returns. But don’t worry, you’re able to edit all automatically populated data.
</p>
<p>
An easy way to keep-up with your buy and sell transactions is to have your broker forward contract notes to your unique Sharesight email address. Sharesight will instantly record the transactions and save the PDFs in your portfolio. This feature is currently available for over <a href="<%= localize_url('supported_brokers', locale_id: locale_obj[:id], base_url: config[:help_url]) %>" title="List of Supported Brokers">50 online brokers</a>.
</p>
