<p>You can import your trading history via CSV (Excel) or simply by entering trades manually.</p>
<p>We also integrate with a growing list of <a href="<%= localize_url('supported_brokers', locale_id: locale_obj[:id], base_url: config[:help_url]) %>" title="List of Supported Brokers">online brokers</a> which allows you to automatically import and track all your trading history in just a few clicks.</p>
