<p>All you need is an email address. Once you’ve signed up, you can create a holding for any investment. It doesn’t even have to be an investment that you own, so you can try adding Facebook or Microsoft, just to see how it all works. When you’re ready, you can update or delete these holdings and add the <%=locale_obj[:cert_type]%>s you actually own. It’s as simple as that.</p>
