<p>
  View our list of supported markets and price update frequency
  <a href="<%= localize_url('supported-stock-exchanges-and-managed-funds', locale_id: locale_obj[:id], base_url: config[:help_url]) %>" title="Supported Stock Exchanges">here</a>.
</p>
