<p>
  Sharesight currently supports stocks listed on the following stock exchanges:
</p>

<ul>
  <li>Australian Stock Exchange (ASX)</li>
  <li>Bolsa de Madrid (BME)</li>
  <li>Borsa Italiana Milan (BIT)</li>
  <li>Börse Frankfurt (FRA)</li>
  <li>Canadian Stock Exchanges (CSNX, TSE, CVE)</li>
  <li>EURONEXT (Paris, Lisbon, Brussels, Amsterdam)</li>
  <li>Hong Kong Stock Exchange (HKG)</li>
  <li>Johannesburg Stock Exchange (JSE)</li>
  <li>Indian Stock Exchanges (BSE &amp; NSE)</li>
  <li>London Stock Exchange (LSE)</li>
  <li>NASDAQ</li>
  <li>New Zealand Stock Exchange (NZX)</li>
  <li>NYSE</li>
  <li>Singapore Exchange (SGX)</li>
  <li>SIX Swiss Exchange (SWX)</li>
  <li>Tokyo Stock Exchange (TYO)</li>
</ul>

<p>
  We have the potential to support up to 200+ stock exchanges and are steadily adding support for new markets as interest demands.
</p>

<p>
  In addition to stocks, you can also monitor: managed funds listed on ASX/NZX, ETFs, mFunds, listed bonds, cash,  fixed interest holdings and unlisted assets.
  Currency movements are automatically incorporated into your total position for all foreign investments.
</p>