<p>
  Sharesight is a portfolio tracking and reporting tool for anyone who owns investments, has a desire to understand how those investments are actually performing, or needs to produce tax reports. We have plans for individuals, accountants, and professional investors.
</p>
<p>
  But don’t take our word for it, <a href="<%= config[:signup_url] %>" title="Sign up for Sharesight">signup</a> to our free plan and try it for yourself.
</p>
