<p>
  Sharesight was started by a father and son team based in New Zealand.
  Learn more about <a href="<%= localize_url('about-sharesight', locale_id: locale_obj[:id]) %>" title="<%= locale_page(page: 'about-sharesight', locale_obj: locale_obj)[:page_title] %>">our story</a>.
</p>
