.alert {
  font-size: 1rem;
  padding: 10px 5px 8px 16px !important;
  margin: 30px 0;
  border-radius: 3px;
  line-height: 22px;

  &.warning {
    border: 1px solid #f9efaf;
    background-color: #fffbdd;
    color: #8a6d3b;
  }

  &.success {
    border: 1px solid #d6e9c6;
    background-color: #dff0d8;
    color: #3c763d;
  }

  &.danger {
    border: 1px solid #ebccd1;
    background-color: #f2dede;
    color: #a94442;
  }

  &.info {
    border: 1px solid #bce8f1;
    background-color: #d9edf7;
    color: #2d5a6d;
  }
}
