.btn {
  font-weight: 300;
  display: block;
  text-transform: uppercase;
  text-align: center;
  color: $colour_primary;
  background-color: white;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  max-width: 349px;
  height: $btn-height;
  line-height: $btn-height - ($btn-border-width * 2); // height - border
  cursor: pointer;
  appearance: none;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: middle;

  @media (min-width: 320px) and (max-width: 425px) {
     @include fontSize(15px);
  }
  @media (min-width: 426px) {
     @include fontSize(13px);
  }
  @media (min-width: $screen-lg-min) {
     @include fontSize(17px);
  }

  &--bordered {
    display: inline-block;
    height: 2.75rem;
    width: 100%;
    max-width: 16.25rem;
    padding: 0 0.3125rem;
    @include fontSize(16px, 2.5);
    font-weight: 600;
    letter-spacing: 1px;

    background-color: transparent;
    color: rgba($colour_primary, .8);
    border: $btn-border-width solid rgba($colour_primary, .6);

    &:hover, &:focus, &:focus-within {
      color: #fff;
      background-color: $colour_primary;
    }

    & + & {
      margin-left: 10px;
    }

    &.secondary {
      border: $btn-border-width solid rgba($colour_secondary, .6);

      &:hover, &:focus, &:focus-within {
        background-color: $colour_secondary;
      }
    }
  }

  &--solid {
    display: inline-block;
    height: auto;
    padding: 0 15px;
    @include fontSize(16px, 2.25);
    letter-spacing: 1px;
    transition: 250ms all;

    border: $btn-border-width solid darken($background_offset_white, 12%);
    background-color: $background_white;
    color: #333;
    font-weight: 400;

    & + & {
      margin-left: 10px;
    }

    &:hover, &:focus, &:focus-within {
      border-color: $colour_secondary;
      background-color: lighten($background_white, 12%);
    }

    &.btn--secondary {
      color: #fff;
      border-color: $colour_secondary;
      background-color: $colour_secondary;

      &:hover, &:focus, &:focus-within {
        color: #fff;
        border-color: lighten($colour_pro, 12%);
        background-color: lighten($colour_pro, 12%);
      }
    }

    &.btn--primary {
      color: #fff;
      border-color: $colour_primary;
      background-color: $colour_primary;

      &:hover, &:focus, &:focus-within {
        border-color: lighten($colour_primary, 12%);
        background-color: lighten($colour_primary, 12%);
      }
    }

    &.btn--highlight {
      color: #fff;
      border-color: $color_highlight;
      background-color: $color_highlight;

      &:hover, &:focus, &:focus-within {
        border-color: lighten($color_highlight, 12%);
        background-color: lighten($color_highlight, 12%);
      }
    }

    &.btn--pro {
      color: white;
      border-color: $colour_pro;
      background-color: $colour_pro;

      &:hover, &:focus, &:focus-within {
        border-color: lighten($colour_pro, 12%);
        background-color: lighten($colour_pro, 12%);
      }
    }
  }

  &--transparent {
    color: $colour_default;

    &, &:hover, &:focus, &:focus-within {
      border-color: transparent;
      background: transparent;
    }

    &:hover, &:focus, &:focus-within {
      color: darken($colour_default, 12%);
    }
  }


  &-default {
    border: $btn-border-width solid $colour_default;

    &:hover, &:focus, &:focus-within {
      background-color: $colour_default;
    }
  }

  &-primary {
    border: $btn-border-width solid $colour_primary;


    &:hover, &:focus, &:focus-within {
      background-color: $colour_primary;
    }
  }

  &-secondary {
    border: $btn-border-width solid $colour_secondary;

    &:hover, &:focus, &:focus-within {
      background-color: $colour_secondary;
    }

    &.inverse {
      background-color: $colour_secondary;
      border: $btn-border-width solid $colour_secondary;
      color: white;

      &:hover, &:focus, &:focus-within {
        outline: none;
        color: white;
        border-color: transparent;
        background-color: darken($colour_secondary,8);
      }
    }
  }
}

.btn-menu-signup {
  display: block;
  height: 62px;
  line-height: 62px;
  width: 142px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  margin: $gutter*2 auto 0;
  text-decoration: none;

  &:hover {
    border-color: $colour_secondary;
    background-color: $colour_secondary;
    color: #fff;
  }
}
