%featured_link {
  display: flex;
  background-color: $colour_secondary;
  color: white;
  margin: $gutter 0 $gutter*2;
  padding: $gutter $gutter*2;

  align-items: center;
  justify-content: flex-start;

  @include respond-to(sm, max) {
    margin: 0 0 $gutter;
    padding: $gutter;
    flex-direction: column;
    text-align: center;
  }

  &__description {
    margin-top: 7px;  // button line-height is 40px, so 7*2 + 26 = 40
    line-height: 26px;
    font-weight: 400;
  }

  &__button {
    @extend .btn;
    @extend .btn--solid;
    @extend .btn--pro;

    font-weight: 600;

    flex: 0 0 auto;
    margin: 0 0 0 auto; // basically a justify-self: flex-end;

    @include respond-to(sm, max) {
      display: block;
      width: 100%;
      margin-top: $gutter;
    }
  }
}
