table.supported-markets {
  margin: $gutter 0;
  width: 100%;
  max-width: 100%;

  th, td {
    padding: $gutter/2;
  }

  th {
    background: $background_pearl;
  }

  td {
    background: $background_white;

    tr:nth-child(even) & {
      background: $background_offset_white;
    }
  }
}
