<% if locals[:contents]&.length %>
  <div class="section__contents">
    <% locals[:contents]&.each do |content| %>
      <%= partial 'sections/partials/content', locals: content.merge({ hero: locals[:hero], locale_obj: locale_obj }) %>
    <% end %>
  </div>
<% end %>
