$__logo_max_width: 200px;
$__logo_height: 75px;

.partner-home {
  background-color: $background_offset_white;
  text-align: center;

  strong {
    color: $colour_secondary;
  }

  &__logos {
    margin: $gutter 0;

    overflow: visible;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    @include respond-to(md, min) {
      margin: $gutter*2 0;
    }
  }

  &__logo {
    background-color: #fff;
    padding: $gutter;
    max-width: $__logo_max_width;
    height: $__logo_height + ($gutter*2);

    // to vertically center the image
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    &, img {
      flex: 0 0 auto; // don't grow or shrink
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

    @include respond-to(sm, max) {
      width: 50%;
    }

    @include respond-to(xs, max) {
      width: 100%;
    }
  }
}
