<div class="campaign_monitor">
  <%#
    Campaign Monitor "Subscribe" Button.
    NOTE: The sdata-listid is specific to the Sharesight20
  %>
  <div class="createsend-button" sdata-listid="r/1A/20C/EE2/9D2A68783B6E90442540EF23F30FEDED"></div>
</div>
