$__categories_list_bottom_margin: $gutter/2;

.partners-header {
  @extend %container;
  margin-bottom: $gutter - $__categories_list_bottom_margin;

  @include respond-to(md, min) {
    margin-bottom: $gutter*1.5 - $__categories_list_bottom_margin;
  }

  @include respond-to(lg, min) {
    margin-bottom: $gutter*2 - $__categories_list_bottom_margin;
  }

  &__title {
    @extend .heading_page;
    @extend .heading_page_index;
    @include fontSize(2.625rem);
    padding-bottom: $gutter;

    @include respond-to (sm, min) {
      @include fontSize(3.5rem);
      padding-top: $gutter / 3;
    }
  }

  &__categories {
    @include fontSize(13px);
    @include lineHeight(28px);
    font-weight: 100;

    ul, li {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-list {
      margin-left: $gutter / 3;
    }
  }

  &__category {
    display: inline-block;
    margin: 0 $gutter/4 $__categories_list_bottom_margin;
    padding: 0 $gutter/2;
    border-radius: $gutter / 4;
    color: $colour_primary;
    background-color: $background_offset_white;
    font-weight: inherit;

    &:hover {
      background: darken($background_offset_white, 12%);
    }

    &--active {
      color: #fff;
      background: $colour_secondary;
      font-weight: 600;

      &:hover {
        background: lighten($colour_secondary, 12%);
      }
    }
  }
}
