<ul class="nav_menu">
  <li class="nav_menu_item signup">
    <a href="<%= config[:signup_url] %>" class="btn-signup" title="Sign up for Sharesight">SIGN UP</a>
  </li>
  <li class="nav_menu_item login">
    <a href="<%= config[:login_url] %>" class="btn-login" title="Login to Sharesight">Login</a>
  </li>
  <li class="nav_menu_item hamburger" aria-label="Extended Menu" tabindex="0" title="Extended menu" id="extended-menu">
    <a>
      <img src="<%= image_path('icons/hamburger.svg') %>" class="icon hamburger" id="js-hamburger" alt="Menu - Sharesight">
    </a>
  </li>
</ul>
