<div class="o-video_wrapper">
  <div class="video_overlay" id="js-about-overlay"></div>
  <a class="btn-play_wrapper" id="js-play-button" tabindex="0" aria-label="Play Sharesight Video"><%= image_tag '/img/icons/button_play_video.svg', alt: 'play button for video', class: 'btn-play' %></a>
  <iframe id="content_video" class="external_video" tabindex="0" src="https://player.vimeo.com/video/116498595?color=ff9933&title=0&byline=0&portrait=0&api=1" width="500" height="281" allowfullscreen></iframe>
</div>