<%
  row = locals[:row]
%>

<div class="menu__row <%= row[:class] %>">
  <% row[:columns].each do |column| %>
    <div class="menu__split-<%= row[:columns].length %>">

      <% if column[:label] %>
        <div class="menu__title" role="separator"><%= column[:label] %></div>
      <% end %>

      <% column[:links].each do |link| %>
        <%= partial "partials/header/link", locals: link %>
      <% end %>

    </div> <%# closes "menu__split-#" %>
  <% end %> <%# ends row[:columns].each %>
</div> <%# closes "menu__row" %>
