.page_privacy {
  padding-bottom: 30px;

  .sub-heading {
    margin-top: 30px;
    display: inline-block;
  }

  p {
    margin-top: 5px;
  }

  ol,
  ul {
    font-weight: 400;
    line-height: 34px;
  }
}
