.page_privacy {
  padding-bottom: 60px;

  .sub-heading {
    margin-top: 60px;
    display: inline-block;
  }

  p {
    margin-top: 5px;
  }

  ol,
  ul {
    font-weight: 300;
    line-height: 34px;
  }
}
