.second-tier {
  .second-tier_wrapper {
    max-width: 950px;
    text-align: left;
    // TODO: find where the centering class is and remove this and that.
  }

  .heading_important {
    @include fontSize(50px);
    line-height: 1.25;

    @media (min-width: $screen-sm-min) {
       @include fontSize(60px);
    }
  }

  .heading_paragraph {
    @include fontSize(27px);
    line-height: 40px;
    margin-bottom: 46px;
    margin-top: 27px;
  }

  .quote_author {
    margin-top: 10px;
    margin-bottom: 28px;
    font-weight: 600;
  }

  .page_author {
    margin-bottom: 0;
    margin-top: 60px;
    font-weight: 600;
  }

  .page_author_title {
    margin-top: 0;
    margin-bottom: 120px;
  }

  .video {
    margin-top: 40px;
  }

  .quote {
    margin: 0;
    max-width: 793px;
    margin: 24px auto;
    @include fontSize(30px);
    line-height: 50px;
    font-family: $font-family-serif;
    color: $colour_primary;
    height: auto;

    &:after {
      content: "”";
      font-size: inherit;
      font-family: inherit;
    }

    &:before {
      content: "“";
      font-size: inherit;
      font-family: inherit;
    }
    @media (max-width: $screen-sm-max) {
       @include fontSize(30px);
      line-height: 38px;
      text-align: left;
    }
  }
}
