.team {
  &__background {
    background: linear-gradient(177.5deg, $background_offset_white 7.5%, white 7.5%)
  }

  &__container {
    @extend %container;
  }

  &__intro {
    text-align: center;
    margin: $gutter*2 auto $gutter;

    @include respond-to(md, min) {
      margin-bottom: $gutter*2.5;
    }

    h1 {
      margin: 0 0 $gutter/2;
      color: $colour_pro;
      font-weight: 600;
      letter-spacing: 1.25px;
      text-transform: lowercase;
      font-variant: small-caps;
    }
  }
}

.team__executive {
  @extend %contain-row;
  margin-bottom: $gutter*2;

  @include respond-to(md, min) {
    margin-bottom: $gutter*3;
  }
}

.executive {
  &__image-container {
    @extend %column;
    @extend %column--12;
    @extend %column__sm--4;

    padding: $gutter;
  }

  &__image {
    display: block;
    border-radius: 50%;
    max-width: 200px;
    margin: 0 auto;
  }

  &__text {
    @extend %column;
    @extend %column--12;
    @extend %column__sm--8;

    @include fontSize(15px);
  }

  &__name {
    @include fontSize(22px, 1);
    color: $colour_pro;
    font-weight: 600;
    letter-spacing: 1.25px;
    margin-bottom: $gutter/2;
  }

  &__title {
    @include fontSize(20px, 24px);
    font-variant: all-small-caps;
    vertical-align: top;
  }

  &__icon {
    vertical-align: top;
    height: 24px;
    opacity: 0.65;
    transition: opacity 250ms;
    margin-left: $gutter/3;

    &:hover {
      opacity: 1;
    }
  }
}
