$__logo_height: 140px;
$__logo_height--sm: 110px;

.partner {
  &__header {
    width: 100%;
    background-color: #fff; // default, overriden via inline style (from contentful)
  }

  &__header-content {
    @extend %contain-row;
    padding-top: $gutter;
    padding-bottom: $gutter;

    @include respond_to(md, min) {
      padding-top: $gutter*1.5;
      padding-bottom: $gutter*1.5;
    }

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__title-column {
    @extend %column;
    @extend %column--12;
    @extend %column__md--8;

    flex-grow: 0; // higher priority than logo
    flex-shrink: 0; // allow shrinkage
    flex-basis: auto;

    @include respond-to(sm, max) {
      display: none;
    }
  }

  &__title {
    color: $colour_base;
    @include fontSize(20px);
    background-color: $background_white;
    padding: $gutter*1.5;

    display: inline-flex; // vertically center everything
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    @extend %column;
    @extend %column--12;
    @extend %column__md--4;

    display: inline-block;
    background-color: inherit;
    padding: 0 $gutter;
    margin: 0 auto;

    flex-grow: 0; // don't grow
    flex-shrink: 0; // don't shrink
    flex-basis: auto;

    display: flex; // to vertically center the image
    align-items: center;
    justify-content: center;

    @include respond-to(sm, max) {
      max-width: 75%;
    }

    img {
      flex: 0 0 auto; // don't do anything
      max-width: 100%;
      max-height: $__logo_height;

      @include respond-to(sm, max) {
        max-height: $__logo_height--sm;
      }
    }
  }

  &__category {
    display: inline-block; // don't be clickable outside of the text
    margin: 0 0 $gutter/2;
    @include fontSize(16px);
    color: rgba($colour_secondary, .75);

    a#{&}:hover {
      text-decoration: underline;
    }
  }

  &__content-area {
    @extend %contain-row;
    padding-top: $gutter;
    padding-bottom: $gutter;

    @include respond-to(sm, min) {
      padding-top: $gutter*2;
      padding-bottom: $gutter*2;
    }
  }

  &__content {
    @extend %column;
    @extend %column--12;
    @extend %column__md--8;

    %headings {
      margin: $gutter*1.5 0 $gutter/2;
    }
  }

  &__details {
    @extend %column;
    @extend %column--12;
    @extend %column__md--4;
    text-align: left;

    &-inner {
      margin: 0;
      padding: $gutter;
      background: $background_offset_white;

      @include respond-to(sm, max) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      dt, dd {
        display: inline-block;
        margin: 0;

        @include respond-to(sm, max) {
          width: 50%;
        }
      }

      dt {
        color: $colour_default;
        font-variant: all-small-caps;
        font-weight: 400;

        &:nth-child(n+2) { // all but the first; better support than :not(:first-child)
          margin-top: $gutter;

          @include respond-to(sm, max) {
            &, & ~ dd {
              margin-top: $gutter;
            }
          }
        }

        @include respond-to(md, min) {
          display: block;
          margin-right: 0;
        }
      }

      a {
        font-weight: 400;
      }
    }
  }
}
