.icon-fa {
  font-size: 42px !important;
  color: $colour_secondary;
  margin-bottom: 15px;
}

.icon_circle {
  .icon_fa {
    color: white;
  }
}

.twitter-tweet {
  margin: 30px 0 !important;
}

.campaign_monitor {
  height: 27px;
}

.subscribe-button-inner {
  vertical-align: top;
}
// Mobile means tablet|phone here!
.hide-mobile {
  @media (max-width: $screen-sm-max) {
    display: none !important;
  }
}

.show-mobile {
  @media (max-width: $screen-sm-max) {
    display: block !important;
  }
}

.hide-phone {
  @media (max-width: $screen-xs-max) {
    display: none !important;
  }
}

.show-phone {
  @media (max-width: $screen-xs-max) {
    display: block !important;
  }
}

.hide-tablet {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: none !important;
  }
}

.show-tablet {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: block !important;
  }
}

.hide-desktop {
  @media (min-width: $screen-md-min) {
    display: none !important;
  }
}

.show-desktop {
  @media (min-width: $screen-md-min) {
    display: block !important;
  }
}
