details {
  overflow: hidden;
  display: block;
  width: 100%;

  & + & {
    margin-top: $gutter/2;
  }
}

summary {
  padding: $gutter;
  background-color: $background_offset_white;
  cursor: pointer;
  font-weight: 600;
  color: $colour_base;
  @include fontSize(18px, 2.125);
}

.section--alternate summary {
  background-color: #ffffff;
}
