.quotes_container {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 2em 0;
  }
}

.quote_item {
  padding: 0 1rem;

  blockquote {
    margin: 0;
    font-size: 1.2rem;
    font-family: $font_family_serif;
    font-weight: 400;
    position: relative;

    &:before {
      content: "“";
      font-size: inherit;
      font-family: inherit;
      position: absolute;
      width: 1.2rem;
      text-align: right;
      top: 0;
      left: -1.2rem;
    }

    p {
      margin: 0;
      font-size: 2.2rem;
      line-height: 1.5;
      font-family: inherit;
      display: inline-block;
      margin-bottom: 12px;

      &:after {
        content: "”";
        font-size: inherit;
        font-family: inherit;
      }
    }
  }

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 86px;
    margin-right: 1rem;
    border-radius: 50%;
  }

  > p {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.75rem;

    strong {
      display: block;
    }
  }
}

.quote_item--narrow {
  @media (min-width: $screen-lg-min) {
    width: 662px;
    margin-left: 50px;
  }
}

.js {
  .quotes_container {
    li {
      margin: 0;
    }
  }
}
@media (min-width:600px) {
  .quote_item {
    blockquote {
      font-size: 1.6rem;
    }

    > p {
      font-size: 1.5rem;
      line-height: 1.1;
    }
  }
}

.quote_credentials {
  .author_name,
  .author_title {
    margin: 0;
  }

  .author_name {
    font-weight: 600;
    margin-top: 50px;
  }
}
