<header class="masthead masthead_tier masthead_blank" tabindex="0" role="banner">
  <div class="masthead_nav_wrapper">
    <div class="container">
      <div id="countryBanner">
        You are currently viewing the <span id="viewedCountry">viewedCountry</span> site.
        Stay on this site or return to the <span id="cookieCountry">cookieCountry</span> site.
      </div>
    </div>
  </div>
</header>
