<div id="countryBanner" class="section notice notice--primary">
  You are currently viewing the&nbsp;<b id="viewedCountry">viewedCountry</b>&nbsp;site.
  &nbsp;<a id="viewedCountryLink" href="#">Stay on this site</a>&nbsp;
  or
  &nbsp;<a id="cookieCountryLink" href="#">return to the&nbsp;<span id="cookieCountry">cookieCountry</span>&nbsp;site</a>.
</div>
