<div id="countryBanner" class="section notice notice--primary">
  You are currently viewing the&nbsp;<b id="viewedCountry">viewedCountry</b>&nbsp;site.
  Stay on this site or&nbsp;<a id="cookieCountryLink" href="#">return to the&nbsp;<span id="cookieCountry">cookieCountry</span>&nbsp;site</a>.
</div>
