<div id="countryBanner" class="section notice notice--primary">
  <div>
  You are currently viewing the <b id="viewedCountry">viewedCountry</b> site.
  <a id="viewedCountryLink" href="#">Stay on this site</a>
  or
  <a id="cookieCountryLink" href="#">return to the <span id="cookieCountry">cookieCountry</span> site</a>.
  </div>
</div>
