<div id="countryBanner" class="section notice notice--primary">
  You are currently viewing the&nbsp;<span id="viewedCountry">viewedCountry</span>&nbsp;site.
  Stay on this site or return to the&nbsp;<span id="cookieCountry">cookieCountry</span>&nbsp;site.
</div>
