// This lets us target all h1…h6 with `%headings { … }`
h1, h2, h3,
h4, h5, h6 {
  @extend %headings !optional;
}

// This allows us to do `%root-hover-focus & { … }`
a:hover,
a:focus,
a:focus-within,
button:hover,
button:focus,
button:focus-within {
  @extend %root-hover-focus !optional;
}

// This allows us to do `%root-can-hover-focus & { … }`
a,
button {
  @extend %root-can-hover-focus !optional;
}
