<div class="section notice">
  <span class="notice__description">
    <% if locals[:title] %>
      <h5><%= partial 'partials/components/markdown', locals: { markdown: locals[:title], inline: true } %></h5>
    <% end %>

    <% if locals[:text] %>
      <%= partial 'partials/components/markdown', locals: { markdown: locals[:text], inline: true } %>
    <% end %>
  </span>

  <%= partial 'sections/partials/button', locals: button.merge({ locale_obj: locale_obj }) if locals[:button] %>
</div>
