<%
  locale_obj = locals[:locale_obj] || current_locale_obj
  plans = locale_plans(locale_obj[:id])
  title = locals[:title] || 'Pricing'

  buttons = if locals[:buttons]&.length
    locals[:buttons]
  else
    [{
      text: 'explore our pricing',
      title: 'Learn more about our Pricing',
      color: 'secondary',
      url: 'pricing',
      remote: false
    }, {
      text: 'get started – **for free**',
      title: 'Sign up for Sharesight',
      color: 'pro',
      url: config[:signup_url],
      remote: true
    }]
  end
%>

<div class="section section--no-padding <%= locals[:class_name] %>">
  <div class="pricing__container">
    <section class="pricing__intro--home">
      <h2>
        <%= partial 'partials/components/markdown', locals: { markdown: title, inline: true } %>
      </h2>

      <p>
        Your first <%= plans[0][:holdings] %> holdings are <strong>free!</strong>
      </p>

      <p>
        Choose from any of our premium plans at any time to track additional
        holdings or portfolios, and unlock advanced features.
      </p>

      <% if buttons %>
        <%= partial 'sections/partials/buttons', locals: { buttons: buttons, locale_obj: locale_obj } %>
      <% end %>
    </section>
  </div>
</div>
