<section class="section alternate">
  <div class="container">
    <!-- snippet from productreview.com.au -->
    <div class="productreviewwidget" data-listing-id="687bc3b6-3c1b-3de5-84d8-440d0c0e3d6f" data-full-width="1" data-num-reviews="3" data-order="best" data-layout="horizontal" data-theme-id="light" data-version="1"></div>
    <script type="text/javascript"> (function() { function async_load(){ var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = '//www.productreview.com.au/assets/js/widget/reviews-itemid.js'; var x = document.getElementsByTagName("script")[0]; x.parentNode.insertBefore(s, x); } if (window.attachEvent) { window.attachEvent("onload", async_load); } else { window.addEventListener("load", async_load, false); } })(); </script>
  </div>
</section>
