// page specific
.intro {
    &.centered {
        text-align: center;
    }

    .heading {
        h1 {
            margin-top: 0;
        }
    }

    p {
        max-width: 40rem;
        margin: 0 auto 1.625rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Images
img {
    max-width: 100%;

    &.small {
        max-width: 220px;
    }
}