.paragraph_compact {
  max-width: 34em;
}

.paragraph_center {
  margin: 0 auto;
  text-align: center;
}

.blog {
  .btn {
    @include fontSize(13px);
  }

  %headings {
    color: $colour_base;
  }
}

%blog_content_heading {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: $colour_base;

  & + %blog_content_heading {
    padding-top: $gutter*1.5;
  }

  & + ol,
  & + ul {
    margin-top: 0;
  }
}

.blog_content {
  img {
    margin: 0;
    padding: 1.5rem 0;
  }

  a {
    font-weight: 400;
  }

  p {
    margin: $gutter*3/4 0;

    img {
      padding: 1.5rem 0 0;
    }

    & + %headings {
      padding-top: $gutter*1.5;
      margin-bottom: 0;
    }
  }

  h2 {
    @extend %blog_content_heading;
    @include fontSize(27.5px);
    font-weight: normal;
    margin-bottom: 25px;
  }

  h3 {
    @extend %blog_content_heading;
    @include fontSize(18px, 2.125);
    line-height: 2.125;
    margin-bottom: 0;
  }

  h4 {
    @extend %blog_content_heading;
    @include fontSize(16px);
  }

  h5 {
    @extend %blog_content_heading;
    @include fontSize(10px);
    text-transform: uppercase;
  }

  h6 {
    @extend %blog_content_heading;
    @include fontSize(16px, 1.5);
    font-weight: 300;
    padding: 10px 16px 8px !important;
    margin: 30px 0;
    border-radius: 3px;
    border: 1px solid #f9efaf;
    background-color: #fffbdd;
    color: #8a6d3b;
  }
}
