<p>
  Xero Cashbook is a simplified version of Xero Business Edition that does not include accruals, invoicing, payroll, or GST reporting. Cashbook is designed to help you manage your cashflow – all over the internet and in real-time.
</p>
