<p>
  Ask your accountant or financial adviser if they can provide you with a Xero account. Alternatively, you may add a Xero Cashbook as an Add-on to your Sharesight subscription – see other FAQs for more information.
</p>
