<p>
  Follow these steps to connect your Sharesight portfolio to an existing Xero account: <a href="<%= localize_url('xero_settings', base_url: config[:help_url], locale_id: locale_obj[:id]) %>" title="Connecting Sharesight and Xero">Connecting your portfolio to Xero</a>.
</p>
