<p>
  Xero Cashbook is available as an Add-on to paid Sharesight plans. Here’s how to get started:
</p>
<ol>
  <li><a href="<%= config[:login_url] %>" title="Login to Sharesight">Login</a> to your Sharesight account (or <a href="<%= config[:signup_url] %>" title="Sign up for Sharesight">sign-up</a> for a new account).</li>
  <li>Upgrade to a Sharesight Investor plan - it’s free for 30 days and $25/month after that.</li>
  <li>Add Xero Cashbook to your account - it’s free for 30 days, then $15/month per Cashbook account that you wish to connect to a Sharesight portfolio. The charge for your Cashbook account(s) will be included on your monthly or annual Sharesight invoices.</li>
</ol>
