<p>
  Upon signing up for a Xero Cashbook account, you’ll receive a welcome email with links to helpful information and tutorial videos to get you started with Cashbook and connected to Sharesight. If you have additional questions pertaining to your Cashbook account(s), you can reach out to the helpful people at Xero.
</p>
