name: Run Tests and Deploy

on:
  deployment:
    branches:
    # - master # TODO: Enable when merging into master.
      - develop
  pull_request:
    branches:
      - master
  push:
    branches:
    # NOTE: Pushing to ANY branch listed here will be deployed to due to `should_deploy` logic.
    # - master # TODO: Enable when merging into master.
    - develop
  # schedule:
    # This will be ran against [default branch = master]
    # TODO: Enable when merging into master.
    # - cron: 0 */8 * * * # every 8 hours

jobs:
  build:
    runs-on: ubuntu-latest

    # ------- Calculated Values
    - name: Precalculate Values
      id: precalculate
      # NOTE: We only support `github.event.deployment.ref` set to be `refs/heads/branch`, to match `github.ref`.
      run: |
        echo ::set-output name=ref::$(( [ '${{ github.event_name }}' == 'deployment' ] && [ '${{ github.event.deployment.ref }}' ] && echo '${{ github.event.deployment.ref }}' ) || echo '${{ github.ref }}')
    - name: Calculated Variables
      id: calculated # access this with steps.calculated.outputs.[name]
      run: |
        echo ::set-output name=app_env::$(( [ '${{ github.event_name }}' == 'deployment' ] && [ '${{ github.event.deployment.environment }}' ] && echo '${{ github.event.deployment.environment }}' ) || ( [ '${{ steps.precalculate.outputs.ref }}' == 'refs/heads/master' ] && echo 'production' || echo 'staging' ))
        echo ::set-output name=should_test::$([ '${{ github.event_name }}' == 'push' ] && [ '${{ steps.precalculate.outputs.ref }}' != 'refs/heads/master' ] && echo 'false' || echo 'true')
        echo ::set-output name=should_deploy::$([ '${{ github.event_name }}' != 'pull_request' ] && ( [ '${{ steps.precalculate.outputs.ref }}' == 'refs/heads/master' ] || [ '${{ steps.precalculate.outputs.ref }}' == 'refs/heads/develop' ] ) && echo 'true' || echo 'false')
        echo ::set-output name=bugsnag_branch::$(echo '${{ steps.precalculate.outputs.ref }}' | sed 's/^refs\/heads\/\(.*\)$/\1/')
    - name: [debug] Calculated Logic
      # app_env = production|staging
      # should_test = true|false # doesn't test pushes into develop
      # should_deploy = true|false # deploys unless event==pull_request
      # bugsnag_branch = master|develop or refs/pulls/123/merge (something unintelligble to Bugsnag)
      run: |
        echo ref=${{ steps.precalculate.outputs.ref }}
        echo app_env=${{ steps.calculated.outputs.app_env }}
        echo should_test=${{ steps.calculated.outputs.should_test }}
        echo should_deploy=${{ steps.calculated.outputs.should_deploy }}
        echo bugsnag_branch=${{ steps.calculated.outputs.bugsnag_branch }}


    # -------- Github Checkout
    steps:
    - uses: actions/checkout@master
      with:
        ref: ${{ steps.precalculate.outputs.ref }}


    # -------- Ruby & Dependencies
    - name: Install Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.4.x'
    - name: Install Ruby Dependencies
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3


    # -------- JS & Dependencies
    - name: Install Node
      uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - name: Install Javascript Dependencies
      run: yarn install --frozen-lockfile --non-interactive


    # -------- Build Static Files
    - name: Download Data from Contentful
      run: bundle exec middleman contentful
      env:
        APP_ENV: ${{ steps.calculated.outputs.app_env }}
        CONTENTFUL_BLOG_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_BLOG_ACCESS_TOKEN }}
        CONTENTFUL_BLOG_PREVIEW_TOKEN: ${{ secrets.CONTENTFUL_BLOG_PREVIEW_TOKEN }}
        CONTENTFUL_PARTNERS_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_PARTNERS_ACCESS_TOKEN }}
        CONTENTFUL_PARTNERS_PREVIEW_TOKEN: ${{ secrets.CONTENTFUL_PARTNERS_PREVIEW_TOKEN }}
        CONTENTFUL_LANDING_PAGES_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_LANDING_PAGES_ACCESS_TOKEN }}
        CONTENTFUL_LANDING_PAGES_PREVIEW_TOKEN: ${{ secrets.CONTENTFUL_LANDING_PAGES_PREVIEW_TOKEN }}
    - name: Build Static HTML
      run: bundle exec middleman build --verbose
      env:
        APP_ENV: ${{ steps.calculated.outputs.app_env }}


    # -------- Run Tests
    - name: Run Javascript Tests
      if: steps.calculated.outputs.should_test == 'true'
      run: yarn run jest --runInBand
    - name: Run Ruby Tests
      if: steps.calculated.outputs.should_test == 'true'
      run: bundle exec rspec spec -p --format d
    - name: Ruby Security Audit
      if: steps.calculated.outputs.should_test == 'true'
      run: |
        bundle exec bundle-audit update
        bundle exec bundle-audit check --ignore CVE-2014-10077


    # -------- Deploy to S3 + Bugsnag Release
    - name: 'Deployment Pending'
      uses: 'deliverybot/status@master'
      if: success() && steps.calculated.outputs.should_deploy == 'true'
      with:
        state: 'pending'
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Deploy to S3
      if: success() && steps.calculated.outputs.should_deploy == 'true'
      run: bundle exec middleman s3_sync
      env:
        APP_ENV: ${{ steps.calculated.outputs.app_env }}
        AWS_DEPLOY_ACCESS_ID: ${{ secrets.AWS_DEPLOY_ACCESS_ID }}
        AWS_DEPLOY_SECRET_KEY: ${{ secrets.AWS_DEPLOY_SECRET_KEY }}
    - name: Notify Bugsnag of Released Code
      if: success() && steps.calculated.outputs.should_deploy == 'true'
      uses: wei/curl@v1
      with:
        args: https://notify.bugsnag.com/deploy -d "apiKey=${{ secrets.BUGSNAG_API_KEY }}&releaseStage=${{ steps.calculated.outputs.app_env }}&repository=${{ github.repository }}&branch=${{ steps.calculated.outputs.bugsnag_branch }}&revision=${{ github.sha }}"
    - name: 'Deployment Succeeded'
      if: success() && steps.calculated.outputs.should_deploy == 'true'
      uses: 'deliverybot/status@master'
      with:
        state: 'success'
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: 'Deployment Failed'
      if: failure() && steps.calculated.outputs.should_deploy == 'true'
      uses: 'deliverybot/status@master'
      with:
        state: 'failure'
        token: ${{ secrets.GITHUB_TOKEN }}


    # -------- Send Slack Notification
    - name: Send Slack Notification
      uses: homoluctus/slatify@master
      if: always()
      with:
        type: ${{ job.status }}
        job_name: "Github Actions test=${{ steps.calculated.outputs.should_test }} deploy=${{ steps.calculated.outputs.should_deploy }}"
        mention: 'here'
        mention_if: 'failure'
        channel: '#static_site_builds'
        icon_emoji: ':rocket:'
        url: ${{ secrets.SLACK_WEBHOOK_URL }}
